//IMPORT START
@import "../../node_modules/bootstrap/dist/css/bootstrap.scss";
@import "import/_reset";
@import "import/_mixin";
@import "import/_fonts";
@import "import/_variables";
//IMPORT END

div.navbar-001 {
  position: relative;
  div.wrap-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $demo;
    z-index: 1;
    
      button {
      display: block;
      margin: 314px auto;
      padding: 16px 24px;
      text-transform: uppercase;
      font-size: 16px;
    }
  }
  div#carousel-id {
    .carousel-indicators li {border: 1px solid #000;}
    .carousel-indicators .active {background: #000;}
    span.glyphicon-chevron-left {left: 4%;}
    span.glyphicon-chevron-left::before {
    content: '\2329';
    @include arrow;
  }
  span.glyphicon-chevron-right {right: 6rem;}
  span.glyphicon-chevron-right::before {
    content: '\232A';
    @include arrow;
  }
  }
  div.carousel-inner {
    div.item {

      img {
        height: 675px;
        object-fit: cover;
      }

      div.carousel-caption {
        right: 9%;
        bottom: 29%;
        h1 {
          margin-bottom: 23px;
          font-size: 41px;
          color: $black;
        }
        h2 {
          margin: 0 0 26px 0;
          font-size: 26px;
          color: $black;
        }
        button.btn-warning {
          @include button;
          background: $warning;
        }
        button.btn-default {
          @include button;
          border: 1px solid $border;
        }
      }
    div.team-pos {
      position: absolute;
      bottom: 2%;
    }
    div.team {
        // position: absolute;
      // bottom: 2%;
      color: $w;
      div.team-item {
        width: 273px;
        margin-right: 15px;
        padding-top: 6px;
        padding-left: 6px;
        padding-right: 0;
        padding-bottom: 6px;
        background: $team-bg;
        border-radius: 3px;
        transition: background 0.5s ease;
        &:last-child {margin-right: 0;}
        &:hover {background: $team-bg-hover;}
        i.img-team {
          margin-right: 10px;
          display: inline-block;
          width: 48px;
          height: 50px;
          background: url(../img/sprites-team.jpg) no-repeat 0 0;
          &.second-img {background-position: -50px 0;}
          &.third-img {background-position: -100px 0;}
          &.four-img {background-position: -150px 0;}
        }
        p.action {
          margin: 7px 0 0 0;
          // margin-top: 7px;
          font-size: 11px;
          line-height: 10px;
        }
        p.text {
          margin: 0;
          font-weight: bold;
          font-size: 12px;
          line-height: 15px;
        }
      }
    }
    }
  }
}


//MEDIA SCREENS START
@media screen and (max-width: 1370px) {
  div.navbar-001 div.carousel-inner div.item div.carousel-caption h1 {
    text-align: center;
  }
  button.btn-default {
    margin-left: 50px;
  }
}

//MAX-WIDTH 320
@media screen and (max-width: 320px) {
 div.navbar-001 div.carousel-inner div.item div.carousel-caption {
   h1 {font-size: 33px;}
   h2{text-align: center;}
}
button.btn-warning {
  float: none;
}

div.btn-width {
  width: 100%;
}
}

//MIN-WIDTH 321PX AND MAX-WIDTH 767PX
@media screen and (min-width: 321px) and (max-width: 767px) {
  div.navbar-001 div.carousel-inner div.item div.carousel-caption {
    h1 {font-size: 33px;}
    h2{text-align: center;}
 }
 button.btn-warning {
   float: none;
 }

 div.btn-width {
   width: 100%;
 }
}
//MIN-WIDTH 768PX AND MAX-WIDTH 992PX
@media screen and (min-width: 768px) and (max-width: 992px) {
  div.btn-width {
    float: none;
  }
}

//MIN-WIDTH 481PX AND MAX-WIDTH 600PX
// @media screen and (min-width: 481px) and (max-width: 750px) {
//   div.navbar-001 div.carousel-inner div.item div.carousel-caption {
//     h1 {font-size: 33px;}
//     h2{text-align: center;}
//  }
//  button.btn-warning {
//    float: none;
//  }
// }
//MEDIA SCREENS END
