@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans.eot');
  src: url('OpenSans.eot?#iefix') format('embedded-opentype'),
     url('OpenSans.ttf') format('truetype'),
     url('OpenSans.svg#OpenSans') format('svg');
  font-style: normal;
  font-weight: normal;
}
