//FONTS
$ops: 'OpenSans';


$w: #fff;
$black: #000;
$warning: #ff891e;
$border: #212121;
$team-bg: rgba(171, 177, 186, 0.4);
$team-bg-hover: rgba(171, 177, 186, 0.8);
$arrow: rgba(109, 93, 93, 0.4);
$demo: #c4cdd6;
